@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Funnel+Display:wght@300..800&family=Michroma&display=swap');


/* Utility Classes */
.green-btn {
    color: white;
    background-color: #00ed0c;
    border: 1px solid white;
}

.green-btn:hover {
    background-color: #00bd09;
    cursor: pointer;
}

.red-btn {
    color: white;
    background-color: rgb(255, 0, 0);
    border: 1px solid white;
}

.red-btn:hover {
    background-color: rgb(204, 3, 3);
    cursor: pointer;
}

.edit-btn {
    background-color: rgb(248, 224, 6);
}

.edit-btn:hover {
    background-color: rgb(189, 170, 6);
    cursor: pointer;
}

input,
select,
textarea {
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: rgba(0, 0, 0, 0.493);
    border: 1px solid white;
    border-radius: 10px;
}

.hidden {
    visibility: hidden;
}


/* Styles  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Funnel Display", sans-serif;
}

main {
    display: flex;
    gap: 30px;
    width: 100%;
}


/* Overlay  */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.308);
    z-index: 2;
}


/* Left Sidebar  */
aside {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 25%;
    height: 100vh;
    padding: 10px;
    background-color: whitesmoke;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 6px 4px 10px 2px #a4d4ff;
}

.app-info {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 10px;
    color: rgb(0 149 255);
    font-family: "Michroma", sans-serif;
    font-size: 1.4rem;
    font-weight: 900;
}

.app-info img {
    max-width: 30px;
}

.aside-btn {
    display: block;
    width: 100%;
    height: 12%;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(48, 163, 245);
    border: 1px solid black;
    border-radius: 10px;
}

.aside-btn:hover {
    background-color: rgb(3, 125, 212);
    cursor: pointer;
}

.aside-btn-clicked {
    color: white;
    background-color: rgb(0 149 255);
}

.projects-cont {
    width: 100%;
    flex-grow: 1;
    font-size: 2rem;
    overflow: hidden;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

.projects-header>span {
    margin: auto;
    font-weight: 800;
    color: rgb(0 149 255);
}

.projects-header button {
    width: 15%;
    height: 100%;
    border-radius: 10px;
}

.projects {
    height: 88%;
    margin-top: 10px;
    overflow-y: auto;
}


/* Right side */
.main-content {
    width: 70%;
}

.main-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 20vh;
    padding: 20px;
    font-family: "Atma", system-ui;
    font-size: 4rem;
    font-weight: 700;
    color: #ffffff;
    background-color: rgb(0 149 255);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0px 4px 8px 5px #a4d4ff;
    z-index: 1;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    min-width: 150px;
}

.btns button {
    display: block;
    width: 100%;
    height: 40%;
    font-size: 1.2rem;
    border-radius: 10px;
}


/* Tasks  */
.tasks {
    width: 100%;
    min-height: 80vh;
    padding: 15px;
}

.no-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}

.no-task img {
    width: 250px;
}

.task {
    display: flex;
    align-items: center;
    width: 100%;
    height: 16vh;
    padding: 10px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.checkbox {
    width: 60px;
    height: 55px;
    background-color: #00b309;
    border: 1px solid white;
    box-shadow: 1px 1px 10px black;
    border-radius: 8px;
    cursor: pointer;

}

.checkbox:hover {
    background-color: #00ed0c;
}

.checkmark {
    width: 100%;
    height: 100%;
    background-color: white;
    clip-path: polygon(10% 50%, 25% 65%, 45% 85%,
            90% 20%, 80% 10%, 45% 65%, 30% 50%);
}

.checkbox-clicked {
    background-color: rgba(0, 0, 0, 0.425);
    box-shadow: inset 1px 1px 10px black;
}

.checkbox-clicked:hover {
    background-color: rgba(0, 0, 0, 0.719);
}

.task-content {
    width: 85%;
    height: 80%;
    padding-left: 10px;
    font-size: 1rem;
    flex-grow: 1;
}

.task-title {
    font-size: 1.5rem;
    font-weight: 800;
}

.task-title,
.task-desc {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.task-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 12%;
    height: 100%;
}

.task-btns button {
    width: 40%;
    height: 60%;
    border-radius: 10px;
}



/* Forms  */

/* Project Form  */
.project-form {
    width: 200px;
    height: 150px;
    position: fixed;
    left: 25%;
    top: 10%;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #ffa600;
    border: 2px solid black;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 16px;
    z-index: 2;
}

form {
    height: 100%;
    padding: 10px;
}

.project-form input {
    width: 100%;
    height: 30px;
}

.project-form button {
    width: 60%;
    height: 30%;
    border-radius: 10px;
    margin-top: 10px;
}


/* Task form  */
.task-form {
    width: 40vw;
    min-height: 82vh;
    position: fixed;
    top: 5%;
    left: 30%;
    padding: 5px;
    font-size: 1.5rem;
    color: white;
    background-color: #7a41d4;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 2px black;
    z-index: 3;
}

.task-form h2 {
    width: 100%;
    font-weight: 600;
    text-align: center;
}

.task-form form {
    height: 90%;
}

.form-row {
    display: flex;
    flex-direction: column;
}

.form-row+.form-row {
    margin-top: 10px;
}

.task-form input,
.task-form select {
    width: 50%;
    height: 40px;
}

.task-form select:focus {
    background-color: rgba(0, 0, 0, 0.719);
    color: white;
}

.task-form form>button {
    width: 40%;
    height: 50px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;
}



/* Task Detaisl ovelay  */

.task-details {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 25%;
    left: 10%;
    width: 80vw;
    min-height: 14vw;
    padding: 20px;
    color: white;
    background-color: rgb(255, 2, 158);
    border: 2px solid black;
    border-radius: 20px;
    z-index: 2;
}

.task-details>div {
    width: 100%;
}

.task-details>div+div {
    margin-top: 10px;
}

.tdetails-desc {
    flex-grow: 1;
}

.tdetails-header {
    display: flex;
    justify-content: space-between;
    font-size: 2.2rem;
}

.tdetails-ddate,
.tdetails-desc,
.tdetails-priority {
    font-size: 1.2rem;
}

.tdetails-ddate span,
.tdetails-priority span {
    font-weight: 700;
}